<nav class="navbar navbar-expand-md navbar-dark bg-dark" style="height: 10vh">
    <div class="container">
      <a class="navbar-brand" href="/"><h2>Igoms</h2></a>
        <div class="navbar-collapse" id="navbarsExample05">
            <ul class="navbar-nav ml-auto pl-lg-5 pl-0">
                <li class="nav-item px-3">
                    <a class="nav-link" href="/produtos"><h5>Produtos</h5></a>
                </li>
                <li class="nav-item px-3">
                    <a class="nav-link" href="/pedidos"><h5>Pedidos</h5></a>
                </li>
                <li class="nav-item px-3">
                    <a class="nav-link" href="/clientes"><h5>Clientes</h5></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
